.pageMainContent {
    background-color: var(--color-gray-100);
    grid-area: main;
    justify-self: left;
    padding: var(--gap-4);
    width: 100%;
    position: relative;
}

@media (min-width: 1025px) {
    .pageMainContent {
        padding: 0 var(--gap-8) var(--gap-8) var(--gap-8);
    }

    .pageWrapper {
        max-width: 1440px;
    }
}
