.PlayerPage {
    max-width: 100%;
    padding: 0;
}

.queryTabs {
    display: grid;
    margin: 0 var(--gap-12) var(--gap-5) var(--gap-12);
}

.loader {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
}
