
server {
    listen 80;

    location /api/ {
        proxy_pass http://tennisproject:8000/;
    }  

    location /admin/ {
        proxy_pass http://tennisproject:8000/;
    }      

    location /staticfiles/ {
        alias /staticfiles/;
    }

    location / {
      proxy_pass $UPSTREAM_URL;
      # try_files $uri $uri/ /index.html;
    }

}